# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
*.iml
/em/embedded/rest/features-service/src/evo/
/em/embedded/rest/scout-api/src/evo/
/em/embedded/rest/ocvn/src/evo/
/temp/
/dist.zip
/dist/
/em/external/rest/scout-api/src/evo/
/em/external/rest/ncs/src/evo/
/em/external/rest/proxyprint/src/evo/
/em/embedded/rest/ncs/src/evo/
/em/embedded/rest/scs/src/evo/
/em/external/rest/features-service/src/evo/
/em/embedded/rest/proxyprint/src/evo/
/em/embedded/rest/catwatch/src/evo/
/em/embedded/rest/news/src/evo/
/em/external/rest/ind0/src/evo/
/cs/rest-gui/ocvn/ui/node_modules/
/cs/rest-gui/ocvn/ui/node/
/cs/rest/artificial/ncs/target/
/cs/rest/artificial/news/target/
/cs/rest/artificial/scs/target/
/cs/rest/original/catwatch/catwatch-backend/target/
/cs/rest/original/features-service/target/
/cs/rest/original/proxyprint/target/
/cs/rest/original/scout-api/api/target/
/cs/rest/original/scout-api/auth/target/
/cs/rest/original/scout-api/data-access/target/
/cs/rest/original/scout-api/data-batch-jobs/target/
/cs/rest-gui/ocvn/forms/target/
/cs/rest-gui/ocvn/persistence/target/
/cs/rest-gui/ocvn/persistence-mongodb/target/
/cs/rest-gui/ocvn/target/
/cs/rest-gui/ocvn/ui/target/
/cs/rest-gui/ocvn/web/target/
/em/embedded/rest/catwatch/target/
/em/embedded/rest/features-service/target/
/em/embedded/rest/ncs/target/
/em/embedded/rest/news/target/
/em/embedded/rest/proxyprint/target/
/em/embedded/rest/scout-api/target/
/em/embedded/rest/scs/target/
/em/external/rest/catwatch/target/
/em/external/rest/features-service/target/
/em/external/rest/ind0/target/
/em/external/rest/ncs/target/
/em/external/rest/news/target/
/em/external/rest/proxyprint/target/
/em/external/rest/scout-api/target/
/em/external/rest/scs/target/
/em/embedded/rest/ocvn/derby.log
/em/external/rest/ocvn/src/evo/
/js/rest/ncs/build/
/js/evomaster-client-js/
/js/rest/ncs/node_modules/
/js/rest/ncs/em/EvoMasterTest.js
/js/rest/ncs/coverage/
/js/rest/cyclotron/node_modules/
/js/rest/cyclotron/build/
/js/rest/cyclotron/em/EvoMasterTest.js
/em/external/rest/ocvn/target/
/em/embedded/rest/ocvn/target/
/venv/
/js/rest/scs/node_modules/
/js/rest/scs/build/
/js/rest/scs/em/EvoMasterTest.js
