# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/
*.iml



/temp/
/dist.zip
/dist/

/jdk_8_maven/.idea
/jdk_8_maven/temp
/jdk_8_maven/em/embedded/rest/features-service/src/evo/
/jdk_8_maven/em/embedded/rest/scout-api/src/evo/
/jdk_8_maven/em/embedded/rest/ocvn/src/evo/
/jdk_8_maven/em/external/rest/scout-api/src/evo/
/jdk_8_maven/em/external/rest/ncs/src/evo/
/jdk_8_maven/em/external/rest/proxyprint/src/evo/
/jdk_8_maven/em/embedded/rest/ncs/src/evo/
/jdk_8_maven/em/embedded/rest/scs/src/evo/
/jdk_8_maven/em/external/rest/features-service/src/evo/
/jdk_8_maven/em/embedded/rest/proxyprint/src/evo/
/jdk_8_maven/em/embedded/rest/catwatch/src/evo/
/jdk_8_maven/em/embedded/rest/news/src/evo/
/jdk_8_maven/em/external/rest/ind0/src/evo/
/jdk_8_maven/cs/rest-gui/ocvn/ui/node_modules/
/jdk_8_maven/cs/rest-gui/ocvn/ui/node/
/jdk_8_maven/cs/rest/artificial/ncs/target/
/jdk_8_maven/cs/rest/artificial/news/target/
/jdk_8_maven/cs/rest/artificial/scs/target/
/jdk_8_maven/cs/rest/original/catwatch/catwatch-backend/target/
/jdk_8_maven/cs/rest/original/features-service/target/
/jdk_8_maven/cs/rest/original/proxyprint/target/
/jdk_8_maven/cs/rest/original/scout-api/api/target/
/jdk_8_maven/cs/rest/original/scout-api/auth/target/
/jdk_8_maven/cs/rest/original/scout-api/data-access/target/
/jdk_8_maven/cs/rest/original/scout-api/data-batch-jobs/target/
/jdk_8_maven/cs/rest-gui/ocvn/forms/target/
/jdk_8_maven/cs/rest-gui/ocvn/persistence/target/
/jdk_8_maven/cs/rest-gui/ocvn/persistence-mongodb/target/
/jdk_8_maven/cs/rest-gui/ocvn/target/
/jdk_8_maven/cs/rest-gui/ocvn/ui/target/
/jdk_8_maven/cs/rest-gui/ocvn/web/target/
/jdk_8_maven/em/embedded/rest/catwatch/target/
/jdk_8_maven/em/embedded/rest/features-service/target/
/jdk_8_maven/em/embedded/rest/ncs/target/
/jdk_8_maven/em/embedded/rest/news/target/
/jdk_8_maven/em/embedded/rest/proxyprint/target/
/jdk_8_maven/em/embedded/rest/scout-api/target/
/jdk_8_maven/em/embedded/rest/scs/target/
/jdk_8_maven/em/external/rest/catwatch/target/
/jdk_8_maven/em/external/rest/features-service/target/
/jdk_8_maven/em/external/rest/ind0/target/
/jdk_8_maven/em/external/rest/ncs/target/
/jdk_8_maven/em/external/rest/news/target/
/jdk_8_maven/em/external/rest/proxyprint/target/
/jdk_8_maven/em/external/rest/scout-api/target/
/jdk_8_maven/em/external/rest/scs/target/
/jdk_8_maven/em/embedded/rest/ocvn/derby.log
/jdk_8_maven/em/external/rest/ocvn/src/evo/
/jdk_8_maven/em/external/rest/ocvn/target/
/jdk_8_maven/em/embedded/rest/ocvn/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-core/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-gui-commons/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/all/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ar/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ast/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/be/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/br/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ca/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/da/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/de/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/de-DE-x-simple-language/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/el/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/en/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/eo/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/es/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/fa/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/fr/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ga/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/gl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/is/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/it/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ja/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/km/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/lt/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ml/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/nl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/pl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/pt/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ro/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ru/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sk/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sv/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ta/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/tl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/uk/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/zh/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-server/target/
/jdk_8_maven/cs/rest/original/restcountries/target/
/jdk_8_maven/em/embedded/rest/restcountries/src/evo/
/jdk_8_maven/em/embedded/rest/restcountries/target/
/jdk_8_maven/em/external/rest/restcountries/target/
/jdk_8_maven/em/external/rest/restcountries/src/evo/
/jdk_8_maven/em/embedded/rest/languagetool/target/
/jdk_8_maven/em/external/rest/languagetool/target/
/jdk_8_maven/cs/graphql/spring-petclinic-graphql/target
/jdk_8_maven/em/embedded/graphql/spring-petclinic-graphql/target/
/jdk_8_maven/em/external/graphql/spring-petclinic-graphql/target/
/jdk_8_maven/em/embedded/graphql/spring-petclinic-graphql/src/main/em/
/jdk_8_maven/em/external/graphql/spring-petclinic-graphql/src/main/em/


/jdk_11_gradle/.gradle
/jdk_11_gradle/cs/graphql/patio-api/build
/jdk_11_gradle/em/embedded/graphql/patio-api/build
/jdk_11_gradle/em/external/graphql/patio-api/build



### JavaScript
/venv/
/js_npm/rest/ncs/build/
/js_npm/evomaster-client-js/
/js_npm/rest/ncs/node_modules/
/js_npm/rest/ncs/em/EvoMasterTest.js
/js_npm/rest/ncs/coverage/
/js_npm/rest/cyclotron/node_modules/
/js_npm/rest/cyclotron/build/
/js_npm/rest/cyclotron/em/EvoMasterTest.js
/js_npm/rest/cyclotron/em/samples
/js_npm/rest/cyclotron/coverage/
/js_npm/rest/scs/node_modules/
/js_npm/rest/scs/build/
/js_npm/rest/scs/em/EvoMasterTest.js
/js_npm/rest/disease-sh-api/node_modules/
/js_npm/rest/disease-sh-api/build/
/js_npm/rest/disease-sh-api/EvoMasterTest.js
/js_npm/rest/disease-sh-api/redis/



#DotNet
[Dd]ebug/
[Bb]in/
[Oo]bj/
logs/
*.dll
dotnet_3/*/Properties/
.vscode/
*.launchSettings.json

dotnet_3/em/embedded/rest/*/warning.html
dotnet_3/cs/rest/Menu.API/Menu.API/packages.lock.json

*packages.lock.json
*.sln.DotSettings.user
