# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/
*.iml



/temp/
/dist.zip
/dist/

/jdk_8_maven/.idea
/jdk_8_maven/temp
/jdk_8_maven/em/embedded/rest/features-service/src/evo/
/jdk_8_maven/em/embedded/rest/scout-api/src/evo/
/jdk_8_maven/em/embedded/rest/ocvn/src/evo/
/jdk_8_maven/em/external/rest/scout-api/src/evo/
/jdk_8_maven/em/external/rest/ncs/src/evo/
/jdk_8_maven/em/external/rest/proxyprint/src/evo/
/jdk_8_maven/em/embedded/rest/ncs/src/evo/
/jdk_8_maven/em/embedded/rest/scs/src/evo/
/jdk_8_maven/em/external/rest/features-service/src/evo/
/jdk_8_maven/em/embedded/rest/proxyprint/src/evo/
/jdk_8_maven/em/embedded/rest/catwatch/src/evo/
/jdk_8_maven/em/embedded/rest/news/src/evo/
/jdk_8_maven/em/external/rest/ind0/src/evo/
/jdk_8_maven/cs/rest-gui/ocvn/ui/node_modules/
/jdk_8_maven/cs/rest-gui/ocvn/ui/node/
/jdk_8_maven/cs/rest/artificial/ncs/target/
/jdk_8_maven/cs/rest/artificial/news/target/
/jdk_8_maven/cs/rest/artificial/scs/target/
/jdk_8_maven/cs/rest/original/catwatch/catwatch-backend/target/
/jdk_8_maven/cs/rest/original/features-service/target/
/jdk_8_maven/cs/rest/original/proxyprint/target/
/jdk_8_maven/cs/rest/original/scout-api/api/target/
/jdk_8_maven/cs/rest/original/scout-api/auth/target/
/jdk_8_maven/cs/rest/original/scout-api/data-access/target/
/jdk_8_maven/cs/rest/original/scout-api/data-batch-jobs/target/
/jdk_8_maven/cs/rest-gui/ocvn/forms/target/
/jdk_8_maven/cs/rest-gui/ocvn/persistence/target/
/jdk_8_maven/cs/rest-gui/ocvn/persistence-mongodb/target/
/jdk_8_maven/cs/rest-gui/ocvn/target/
/jdk_8_maven/cs/rest-gui/ocvn/ui/target/
/jdk_8_maven/cs/rest-gui/ocvn/web/target/
/jdk_8_maven/em/embedded/rest/catwatch/target/
/jdk_8_maven/em/embedded/rest/features-service/target/
/jdk_8_maven/em/embedded/rest/ncs/target/
/jdk_8_maven/em/embedded/rest/news/target/
/jdk_8_maven/em/embedded/rest/proxyprint/target/
/jdk_8_maven/em/embedded/rest/scout-api/target/
/jdk_8_maven/em/embedded/rest/scs/target/
/jdk_8_maven/em/external/rest/catwatch/target/
/jdk_8_maven/em/external/rest/features-service/target/
/jdk_8_maven/em/external/rest/ind0/target/
/jdk_8_maven/em/external/rest/ncs/target/
/jdk_8_maven/em/external/rest/news/target/
/jdk_8_maven/em/external/rest/proxyprint/target/
/jdk_8_maven/em/external/rest/scout-api/target/
/jdk_8_maven/em/external/rest/scs/target/
/jdk_8_maven/em/embedded/rest/ocvn/derby.log
/jdk_8_maven/em/external/rest/ocvn/src/evo/
/jdk_8_maven/em/external/rest/ocvn/target/
/jdk_8_maven/em/embedded/rest/ocvn/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-core/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-gui-commons/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/all/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ar/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ast/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/be/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/br/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ca/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/da/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/de/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/de-DE-x-simple-language/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/el/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/en/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/eo/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/es/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/fa/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/fr/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ga/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/gl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/is/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/it/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ja/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/km/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/lt/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ml/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/nl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/pl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/pt/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ro/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ru/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sk/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/sv/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/ta/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/tl/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/uk/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-language-modules/zh/target/
/jdk_8_maven/cs/rest/original/languagetool/languagetool-server/target/
/jdk_8_maven/cs/rest/original/restcountries/target/
/jdk_8_maven/em/embedded/rest/restcountries/src/evo/
/jdk_8_maven/em/embedded/rest/restcountries/target/
/jdk_8_maven/em/external/rest/restcountries/target/
/jdk_8_maven/em/external/rest/restcountries/src/evo/
/jdk_8_maven/em/embedded/rest/languagetool/target/
/jdk_8_maven/em/external/rest/languagetool/target/
/jdk_8_maven/cs/graphql/petclinic-graphql/target
/jdk_8_maven/em/embedded/graphql/petclinic-graphql/target/
/jdk_8_maven/em/external/graphql/petclinic-graphql/target/
/jdk_8_maven/em/embedded/graphql/petclinic-graphql/src/main/em/
/jdk_8_maven/em/external/graphql/petclinic-graphql/src/main/em/
/jdk_8_maven/cs/graphql/graphql-ncs/target
/jdk_8_maven/cs/graphql/graphql-scs/target
/jdk_8_maven/em/embedded/graphql/graphql-ncs/target
/jdk_8_maven/em/embedded/graphql/graphql-scs/target
/jdk_8_maven/em/external/graphql/graphql-ncs/target
/jdk_8_maven/em/external/graphql/graphql-scs/target
/jdk_8_maven/cs/rest-gui/gestaohospital/target/
/jdk_8_maven/em/external/rest/gestaohospital/target/
/jdk_8_maven/em/embedded/rest/gestaohospital/target/

/jdk_11_maven/temp
/jdk_11_maven/cs/rest/cwa-verification-server/target
/jdk_11_maven/em/embedded/rest/cwa-verification/target
/jdk_11_maven/em/external/rest/cwa-verification/target

/jdk_11_gradle/.gradle
/jdk_11_gradle/cs/graphql/patio-api/build
/jdk_11_gradle/em/embedded/graphql/patio-api/build
/jdk_11_gradle/em/external/graphql/patio-api/build




### JavaScript
/venv/
/js_npm/evomaster-client-js/
/js_npm/rest/ncs/build/
/js_npm/rest/ncs/instrumented/
/js_npm/rest/ncs/node_modules/
/js_npm/rest/ncs/em/EvoMasterTest.js
/js_npm/rest/ncs/coverage/
/js_npm/rest/cyclotron/node_modules/
/js_npm/rest/cyclotron/build/
/js_npm/rest/cyclotron/instrumented/
/js_npm/rest/cyclotron/em/EvoMasterTest.js
/js_npm/rest/cyclotron/em/samples
/js_npm/rest/cyclotron/coverage/
/js_npm/rest/scs/node_modules/
/js_npm/rest/scs/build/
/js_npm/rest/scs/instrumented/
/js_npm/rest/scs/em/EvoMasterTest.js
/js_npm/rest/scs/coverage/
/js_npm/rest/disease-sh-api/node_modules/
/js_npm/rest/disease-sh-api/build/
/js_npm/rest/disease-sh-api/instrumented/
/js_npm/rest/disease-sh-api/EvoMasterTest.js
/js_npm/rest/disease-sh-api/redis/
/js_npm/rest/disease-sh-api/coverage/
/js_npm/rest/realworld-app/node_modules/
/js_npm/rest/realworld-app/build/
/js_npm/rest/realworld-app/instrumented/
/js_npm/rest/realworld-app/dist/
/js_npm/rest/realworld-app/instrumented/
/js_npm/rest/realworld-app/coverage/
/js_npm/rest/spacex-api/node_modules/
/js_npm/rest/spacex-api/build/
/js_npm/rest/spacex-api/instrumented/
/js_npm/rest/spacex-api/coverage/
/js_npm/graphql/react-finland/build/
/js_npm/graphql/react-finland/.idea/
/js_npm/graphql/react-finland/node_modules/
/js_npm/graphql/react-finland/instrumented/
/js_npm/graphql/ecommerce-server/build/
/js_npm/graphql/ecommerce-server/.idea/
/js_npm/graphql/ecommerce-server/node_modules/
/js_npm/graphql/ecommerce-server/instrumented/
/js_npm/graphql/ecommerce-server/src/graphql/schemas/schema.gql



#DotNet
[Dd]ebug/
[Bb]in/
[Oo]bj/
dotnet_3/em/embedded/rest/SampleProjectDriver/logs/
*.dll
.vscode/
.vs/
*.launchSettings.json
*.sln.DotSettings.user
dotnet_3/em/embedded/rest/MenuAPIDriver/generated-tests/
dotnet_3/em/embedded/rest/SampleProjectDriver/generated-tests/
dotnet_3/em/embedded/rest/NcsDriver/generated-tests/
dotnet_3/em/embedded/rest/ScsDriver/generated-tests/


# RPC
/jdk_8_maven/cs/rpc/grpc/artificial/grpc-ncs/target/
/jdk_8_maven/cs/rpc/grpc/artificial/grpc-scs/target/
/jdk_8_maven/cs/rpc/thrift/artificial/thrift-scs/target/
/jdk_8_maven/cs/rpc/thrift/artificial/thrift-ncs/target/





/jdk_11_maven/tmpFolder/
/jdk_11_maven/em/embedded/graphql/timbuctoo/tmpFolder/
/jdk_11_maven/em/external/graphql/timbuctoo/target/
/jdk_11_maven/em/embedded/graphql/timbuctoo/target/
/jdk_11_maven/cs/rest-gui/market/market-core/target/
/jdk_11_maven/cs/rest-gui/market/market-coverage/target/
/jdk_11_maven/cs/rest-gui/market/market-rest/target/
/jdk_11_maven/cs/rest-gui/market/market-web/target/
/jdk_11_maven/em/embedded/rest/market/target/
/jdk_11_maven/em/external/rest/cwa-verification/temp/
/jdk_11_maven/em/external/rest/market/target/
/jdk_8_maven/em/embedded/rest/genome-nexus/src/test/java/
/jdk_8_maven/em/embedded/rest/genome-nexus/target/
/jdk_8_maven/em/external/rest/genome-nexus/target/
/jdk_8_maven/em/external/rest/genome-nexus/src/test/
/jdk_8_maven/em/embedded/thrift/ncs/target/
/jdk_8_maven/em/embedded/thrift/scs/target/
/jdk_8_maven/em/external/thrift/ncs/target/
/jdk_8_maven/em/external/thrift/scs/target/
/jdk_17_maven/cs/web/spring-petclinic/target/
/jdk_17_maven/em/embedded/web/spring-petclinic/target/
/statistics/table_suts.tex
/jdk_11_gradle/cs/rest/reservations-api/build/
/jdk_11_gradle/em/embedded/rest/reservations-api/build/
/jdk_11_gradle/em/external/rest/reservations-api/build/
/jdk_17_gradle/.gradle/
/jdk_8_maven/em/embedded/graphql/spring-petclinic-graphql/target/
/jdk_8_maven/em/embedded/grpc/ncs/target/
/jdk_8_maven/em/embedded/grpc/scs/target/
/jdk_8_maven/em/external/grpc/ncs/target/
/jdk_8_maven/em/external/grpc/scs/target/
/jdk_11_maven/em/external/rest/ind1/target/
/jdk_17_gradle/build/
/jdk_17_gradle/em/embedded/rest/bibliothek/build/
/jdk_17_gradle/em/external/rest/bibliothek/build/
/jdk_17_maven/cs/grpc/signal-registration/target/
/jdk_17_maven/em/embedded/grpc/signal-registration/target/
/jdk_17_maven/em/external/grpc/signal-registration/target/
/jdk_17_maven/em/external/web/spring-petclinic/target/
/jdk_8_maven/cs/rest/original/session-service/target/
/jdk_8_maven/em/embedded/rest/session-service/target/
/jdk_8_maven/em/external/rest/session-service/target/
