/.project
/org.eclipse.m2e.core.prefs
/.settings/
/node/
/node_modules/
/output/
npm-debug.log
/webpack-test/bundle.js
/target
/.checkstyle
*.iml
.idea
rebel.xml
/logs/
/forms/nb-configuration.xml
/persistence-mongodb/nb-configuration.xml
/nb-configuration.xml
/forms/nbactions.xml
/persistence/nb-configuration.xml
/web/nb-configuration.xml
/ui/nb-configuration.xml
/web/nbactions.xml
/forms/.rebel.xml.bak
/derby.log
/LOG_DIR_IS_UNDEFINED/