  {{name}}:
    image: {{DATABASE_IMAGE_NAME}}
    {% if TMP_FS -%}
    tmpfs:
      - '{{TMP_FS}}'
    {% endif %}
{% if DATABASE_ENVIRONMENT %}
    environment:
      {% for env in DATABASE_ENVIRONMENT -%}
      {{env}}
      {% endfor %}
{% endif %}
{% if DATABASE_VOLUME %}
    volumes:
      {% for volume in DATABASE_VOLUME -%}
      - {{volume}}
      {% endfor %}
{% endif %}
{% if HEALTH_CHECK %}
    healthcheck:
      test: {{HEALTH_CHECK_COMMAND}}
      interval: 30s
      timeout: 30s
      retries: 3
{% endif %}
{% if DATABASE_PORT %}
    ports:
      - '{{DATABASE_PORT}}'
{% endif %}

{% if COMMAND %}
    command: {{COMMAND}}
{% endif %}

{% if PLATFORM %}
    platform: {{PLATFORM}}
{% endif %}

