.color{
    color: red;
}
#title{
    padding-top: 20px;
}
#button{
    background-color:#660066;
    border-radius: 8px;
    border: 0px;
}
#button:hover{
    background-color: #7800FF;
}
a{
    color: white;
    text-decoration: none;
}
.top{
    margin-left: 2%;
    border-radius: 8px;
    padding: 5px;
    color: white;
    background-color: #7800FF;
}