<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="secureLoggerAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %magenta(%logger{36}.%M) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="secureLogger" level="INFO" additivity="false">
        <appender-ref ref="secureLoggerAppender"/>
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="no.nav" level="WARN"/>
    <logger name="no.nav.familie" level="INFO"/>
    <logger name="no.nav.familie.http.sts" level="WARN"/>
    <logger name="org.apache.cxf" level="ERROR"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" level="ERROR"/>
</configuration>