<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <logger name="no.nav.vault.jdbc.hikaricp.VaultUtil" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
