<!--

    Copyright (C) 2019 Kaleidos Open Source SL

    This file is part of PATIO.
    PATIO is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PATIO is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PATIO.  If not, see <https://www.gnu.org/licenses/>

-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    UNCOMMENT FOR EXPOSE ERRORS COMING FROM DEPENDENCY INJECTION
    <logger name="io.micronaut.context.condition" level="DEBUG" />
    -->
    <!--
    UNCOMMENT FOR EXPOSING SQL QUERIES AND QUERY PARAMETERS
    <logger name="org.hibernate.SQL" level="ALL" />
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    -->
    <logger name="patio.api" level="INFO" />

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>